.footer {
  width: 100%;
  height: 2.5rem; /* altura do rodapé */
  background-color: #f1f1f1; /* cor de fundo do rodapé */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
