.header {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsividade para telas menores que 768px */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .headerLogo {
    margin-bottom: 10px;
  }
  .headerLinks {
    flex-direction: column;
  }
  .headerLinks a {
    margin-bottom: 10px;
  }
}

.headerLogo {
  margin-right: 20px;
}

.headerLogo img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

.headerLinks {
  display: flex;
  align-items: center;
}

.headerLinks a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.headerLinks a:last-child {
  margin-right: 0;
}

.headerTitulo {
  flex: 1;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin: 0; /* Adicione esta linha para remover margens padrão */
}

/* Adicionando margem ao último item do menu em telas maiores */
.headerLinks a:last-child {
  margin-right: 0;
}

/* Ajuste para centralizar o título em telas menores */
@media (max-width: 768px) {
  .headerTitulo {
    text-align: center;
    margin: 10px 0;
  }
}
