.header {
  background-color: #3498db;
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Alinha os itens nas extremidades */
  align-items: center;
  margin: 0;
  position: relative; /* Adiciona posicionamento relativo para o título */
}

.headerLogo {
  margin-left: 0px;
}

.headerLogo img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

.headerLinks {
  display: flex; /* Alinha os links horizontalmente */
}

.headerLinks a {
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
  font-size: 20px;
}

.headerLinks a:last-child {
  margin-right: 0; /* Evita margem extra no último item */
}

.headerLinks a:hover {
  color: #2ecc71;
}

.headerTitulo {
  position: absolute; /* Posiciona o título de forma absoluta */
  left: 50%; /* Alinha o centro do título com o centro da página */
  transform: translateX(
    -50%
  ); /* Move o título 50% do seu próprio tamanho para a esquerda */
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  white-space: nowrap; /* Evita que o título quebre em várias linhas */
}

/* Responsividade para telas menores que 768px */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    position: static; /* Remove posicionamento relativo */
  }
  .headerLogo {
    margin-bottom: 10px;
  }
  .headerLinks {
    flex-direction: column;
  }
  .headerLinks a {
    margin-bottom: 10px;
  }
  .headerTitulo {
    position: static; /* Remove posicionamento absoluto */
    transform: none; /* Remove transformação */
    margin-bottom: 10px;
  }
}
